.header-content{
    display: flex;
    justify-content: space-between;
    .employee-name{
        font-family: "Assistant-SemiBold";
        color: #5d5d5d;
        font-size: 18px;
        padding-top: 9px;
        padding-bottom: 10px;
        padding-right: 19px;
        width: 50%;
    }
    .hours-tbl{
        display: flex;
        font-family: "Assistant-Regular";
        font-size: 10px;
        padding-top: 19px;
        padding-bottom: 10px;
        width: 35%;
        text-align: right;
        .total-hours{
            color:#5d5d5d;
            padding: 0;
            width: 25%;
        }
        .pending-hours{
            color: #f5cc0c;
            padding: 0;
            width: 25%;
        }
        .approval-hours{
            color: #a1d47f;
            padding: 0;
            width: 25%;
        }
        .disapproval-hours{
            color:#ff0000;
            padding: 0;
            width: 25%;
        }
    }
    .arrow-container{
        width: 15%;
    }
    .arrow-approval-row{
        padding-left: 13px;
        padding-right: 34.9px;
    }
}
