.c-portalSelect{
   display: block; 
 }

.c-portalSelect-title {
    color: #5d5d5d; 
    font-family: Assistant-SemiBold;
    font-size: 15px;
    padding: 10px 10px 2px 0; 
    display: flex;
    align-items: flex-start;
}
 
.c-portalSelect > select {
    position:relative; 
    border: 0;
    display: inline-block;
    font: inherit;
    padding:10px; 
    width: 100%;
    outline: none;
    background-color: #ffffff;
   
    /* dimiss browser arrow */
    appearance:none; 
   -webkit-appearance: none;
   -moz-appearance: none;
    
   /* set box shadow */
   box-shadow: 0px 1px 1px 0px rgba(209, 207, 209 ,0.75);
   -webkit-box-shadow: 0px 1px 1px 0px rgba(209, 207, 209 ,0.75);
   -moz-box-shadow: 0px 1px 1px 0px rgba(209, 207, 209 ,0.75);
   
   /* style the img as the arrow of the select box */

   background-image: url("../../assets/images/arrow_down.png"); 
   
   background-position:
   calc(10% - 10px) calc(1em + 2px),
   calc(10% - 15px) calc(1em + 2px),
   calc(10% - 2.5em) 0.5em;
   background-size:
   12px 12px,
   12px 12px,
   1px 1.5em; 
   background-repeat: no-repeat;
}  
 
/*in case there is a need to change the background color of the options list*/
.c-portalSelect > select > option  {
    background-color: #ffffff;
    font-weight: inherit;
    color: inherit;
}  