.c-search-page{
    height: 45px;
    font-family: Assistant-Light;
    font-size: 20px; 
    color:#707070;   
}
.c-search-form>.search-input{
    border: none;
    padding-right:26.5px;
    outline: none;
    width: 100%;
    background-color: rgba(188, 188, 188,0.15);
    border-radius: 25px;
}
.c-search-form{
    height: 45px;
    width: 100%;
    display: flex;
    position: relative;
}
.c-search-pager{
    position: absolute;
    left:16.5px;
    top:8px;
}