
.c-button-set {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.c-button-set button {
    width: 100%;
    padding-top: 26px;
    padding-bottom: 26px;
    border: none;
    background-color: white;
    font-size: 15px;
    font-family: 'Assistant-SemiBold';
    text-shadow: 0 -2px #1a000000;
}

button.active {
    color: #5d5d5d;
}

button.inactive {
    color: rgb(0,0,0,0.1);
}

.border-top {
    border-top: 1px;
    box-shadow: 0 -2px lightgray;
}

.border-bottom {
    border-bottom: 1px;
    box-shadow: 0 2px lightgray;
}