
.c-button-set {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.c-button-set button {
    width: 100%;
    border: none;
    background-color: white;
    font-size: 15px;
    text-shadow: 0 -2px #1a000000;
}

button.active {
    color: #5d5d5d;
}

button.inactive {
    color: rgb(0,0,0,0.1);
}
