.c-alert {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 32px 25px;
}

.c-alert .error-message {
    color: #ffa1a1;
    font-family: "Assistant-SemiBold";
    font-size: 20px;
    
}

.c-alert .close-btn {
    color: #5d5d5d;
    position: absolute;
    top: 0;
    left: 24px;
    font-size: 45px;
    font-family: "Assistant-SemiBold";
}