.c-alert {
    background-color: #fff;
    padding: 32px 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
}

.c-alert.show {
    display: block;
    animation: slideUp 0.5s;
    animation-fill-mode: forwards;  
}

.c-alert.hide {
    display: block;
    animation: slideDown 0.5s;
    animation-fill-mode: forwards; 
}

@keyframes slideUp {
    from {
        transform: translatey(100%);
    }
    
    to {
        transform: translatey(0);    
    }
}

@keyframes slideDown {
    from {
        transform: translatey(0);
    }
    
    to {
        transform: translatey(100%);    
    }
}

.c-alert .alert-msg {
    font-family: "Assistant-SemiBold";
    font-size: 20px;
}

.c-alert .alert-msg.type-error {
    color: #ffa1a1;
}

.c-alert .alert-msg.type-info {
    color: #8398e9;
}

.c-alert > .close-btn {
    color: #5d5d5d;
    position: absolute;
    top: 0;
    left: 24px;
    font-size: 45px;
    font-family: "Assistant-SemiBold";
}

.c-alert .alert-icon {
    width: 39px;
    margin-left: 33px;
    align-self: center;
}

.c-alert > .msg-wrapper {
    display: flex;
    align-items: flex-end;
}
