.c-hours-report-footer{
    height: 76px;
    box-shadow: 0px -2px 10px #5d5d5d;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}

/* .c-hours-report-footer img{
    margin: 24px;
} */


.c-hours-report-footer svg {
    width: 51px;
    height: 51px;
    position: absolute; 
    top: 10px;
    right: 153.7px;
    bottom: 15px;
}

.c-hours-report-footer #save-img{
   position: absolute; 
   top: 24px;
   right: 24px;
   bottom: 25.2px;
}

.c-hours-report-footer #copy-img{
    position: absolute; 
    top: 26px;
    right: 86.3px;
    bottom: 25.1px;
 }

 .c-hours-report-footer #delete-img{
    position: absolute; 
    top: 26px;
    right: 249.2px;
    bottom: 25.4px;
 }

 .c-hours-report-footer #back-img{
    position: absolute; 
    top: 28px;
    right: 308px;
    bottom: 28.2px;
 }
 
 

