.c-hours-report-footer{
    height: 76px;
    box-shadow: 0px -2px 10px #5d5d5d;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

.c-hours-report-footer .icons-warper{
    width: 360px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.c-hours-report-footer svg {
    width: 51px;
    height: 51px;
    margin-top: 10px; 
}

.c-hours-report-footer #save-img{
   margin-top: 24px;
} 

.c-hours-report-footer #copy-img{
    margin-top: 22.8px;
 }

 .c-hours-report-footer img,svg {
     cursor: pointer;
 } 

 .c-hours-report-footer #delete-img{
    margin-top: 26px;
 }

 .c-hours-report-footer #back-img{
    margin-top: 28px; 
 } 