.p-user-details > .user-header {
    display: flex;
    justify-content: space-between;
    padding: 16px 18px 14px 13px;
    box-shadow: 0 3px 6px 0 #29000022;
}

.p-user-details > .user-header > .left-col {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.p-user-details > .user-header > .right-col {
    font-size: 10px;
}

.p-user-details > .user-header > .right-col > .date-created {
    margin: 0;
}

.p-user-details > .user-header .actions-wrapper {
    text-align: left;
    margin-bottom: 28px;
}

.p-user-details > .user-header .actions-wrapper > .save-icon.icon-disable {
    opacity: 0.5;
}

.p-user-details > .user-header .actions-wrapper > img:not(:first-child) {
    margin-right: 33px;
}

.p-user-details > .user-header .image-wrapper {
    position: relative;
}

.p-user-details > .user-header .image-wrapper > .user-image.img {
    width: 78px;
    height: 78px;
    object-fit: cover;
    border: 2px solid;
    border-radius: 50%;
}

.p-user-details > .user-header .image-wrapper > .edit-wrapper {
    position: absolute;
    bottom: -7px;
    right: 7px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    text-align: center;
}

.p-user-details > .user-header .image-wrapper > .edit-wrapper > input {
    display: none;
}

.p-user-details > .user-header .image-wrapper > .edit-wrapper > .edit-icon {
    margin-bottom: 3px;
}

.p-user-details > .user-header > div > h1 {
    font-size: 28px;
    font-family: 'Assistant-SemiBold';
    margin: 0;
}

.p-user-details > .user-header > div > .change-pwd {
    margin: 29px 0 18px 0;
    /* font-family: 'Assistant-SemiBold';
    text-decoration: underline; */
}
