.employee-card > .card-header{
    padding: 0;
    background-color:white;
    border: none;
}

.employee-card{
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,26%);
    margin-top: 13px;
    border:none;
}