

    .p-hours-report table th,td{
        font-size: 12px;
        color: #5d5d5d;
        text-align: center;
        margin-right: 15px;
        margin-left: 15px;
        width: 25%;
    }


    .p-hours-report table {
        width: 100%;
    }


    .p-hours-report table th{
        padding-bottom: 18px !important;
    }
  
  
    .p-hours-report table th:last-child { 
          text-align: end;
    }
    .p-hours-report table thead tr{
      display: flex;
    }

    .p-hours-report table thead, tbody { display: block; }

    .p-hours-report table  tbody {
        height: 400px;       /* Just for the demo          */
        overflow-y: auto;    /* Trigger vertical scroll    */
        overflow-x: hidden;  /* Hide the horizontal scroll */
    }


    