

    .p-hours-report table th,td{
        font-size: 12px;
        color: #5d5d5d;
        text-align: center;
        margin-right: 15px;
        margin-left: 15px;
        width: 25%;
    }


    .p-hours-report table {
        width: 100%;
    }


    .p-hours-report table th{
        padding-bottom: 23px !important;
    }

    .p-hours-report table td{
    padding: 13px 0 14px 0 !important;
    }

    .p-hours-report table .table-row {
        padding: 10px;
        box-shadow: 0 3px 3px  ;
        border-bottom: 13px solid white;
        background-color: #ffd300;
      }

      .p-hours-report table .icon-td {
        font-size: 15px;
      }

      .p-hours-report table .icon-td  svg{
        color: #5d5d5d;
        margin-left: 4.7px;
      }

    